<?xml version="1.0" encoding="utf-8"?>
<config>
<license>Your Commercial Key Here</license>
<logo></logo>
<logoPosition>topleft</logoPosition>
<logoAlpha>35</logoAlpha>
<logoTarget></logoTarget>
<skinMode>float</skinMode>
<playListXml>player/xml/playlist.xml?x</playListXml>
<playListAutoStart>false</playListAutoStart>
<playListOpen>false</playListOpen>
<playListRandom>true</playListRandom>
<autoStart>true</autoStart>
<stretch>exactfit</stretch>
<buffer>3</buffer>
<volumeLevel>100</volumeLevel>
<emailPhp>player/php/email.php</emailPhp>
<cbtopClr>0x484848</cbtopClr>
<cbbottomClr>0x000000</cbbottomClr>
<cbborderClr>0x000000</cbborderClr>
<playpauseClr>0xff2424</playpauseClr>
<progressbarClr>0x37b87c</progressbarClr>
<bufferClr>0x222222</bufferClr>
<timerClr>0xff2424</timerClr>
<hdvideomodeClr>0xffffff</hdvideomodeClr>
<hdonoffClr>0xffcc00</hdonoffClr>
<shareClr>0xff2424</shareClr>
<volumeClr>0xff2424</volumeClr>
<volumesliderClr>0x444444</volumesliderClr>
<volumesliderbdrClr>0x000000</volumesliderbdrClr>
<volumeseekerClr>0x666666</volumeseekerClr>
<volumeseekerbdrClr>0x000000</volumeseekerbdrClr>
<fullscreenClr>0xff2424</fullscreenClr>
<openclosearwClr>0xcccccc</openclosearwClr>
<ocArwBgClr>0x242526</ocArwBgClr>
<ocArwBgBdrClr>0x353535</ocArwBgBdrClr>
<headertopClr>0x232425</headertopClr>
<headerbottomClr>0x060606</headerbottomClr>
<activevideobgClr>0x9c4444</activevideobgClr>
<videotitleClr>0xcccccc</videotitleClr>
<headerfontClr>0xcccccc</headerfontClr>
<videobgClr>0x349e6d</videobgClr>
<playlistbgClr>0x242526</playlistbgClr>
<sbbgrightClr>0x232425</sbbgrightClr>
<sbbgleftClr>0x060606</sbbgleftClr>
<sbbgtopClr>0x242526</sbbgtopClr>
<sbbgbottomClr>0x060606</sbbgbottomClr>
<sbarrowClr>0xcccccc</sbarrowClr>
<sbscrollClr>0x242526</sbscrollClr>
<sbscrollbrdClr>0x000000</sbscrollbrdClr>
<tooltipClr>0xcccccc</tooltipClr>
<tooltipfontClr>0x000000</tooltipfontClr>
<tooltipbrdClr>0xffffff</tooltipbrdClr>
<playdockClr>0x37b87c</playdockClr>
<controlBar>true</controlBar>
<playPauseDock>true</playPauseDock>
<progressBar>true</progressBar>
<timerDock>true</timerDock>
<shareDock>true</shareDock>
<volumeDock>true</volumeDock>
<fullScreenDock>false</fullScreenDock>
<playDock>true</playDock>
<playList>true</playList>
<fullScreen>false</fullScreen>
</config>
