div#player {
    width: 80%;
    min-width: 750px;
    background: #000;
    margin: 0px auto;
    object-fit: cover;
}

div#otherStreams {
    background: #333333;
    width: 400px;
    color: #faad00;
}

#dash-video-player {
    width: 100%;
    height: auto;
    background: url(/images/Metronom.gif) no-repeat center center;
    autoplay: true;
}

div#video_controls_bar {
    background: #333333;
    padding: 2px;
    color: #faad00;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: auto;
}

div#inputdiv {
    background: #333333;
    width: 200px;
    color: #faad00;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    float: left;
}

button#playpausebtn {
    background: url(/images/pause-button30.png) no-repeat;
    border: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    float: left;
    opacity: 0.3;
}

button#playpausebtn:hover {
    opacity: 1;
}

button#mutebtn {
    background: url(/images/mute30.png) no-repeat;
    color: transparent;
    border: none;
    width: 30px;
    height: 28px;
    margin-left: 5px;
    margin-right: 15px;
    cursor: pointer;
    opacity: 0.3;
}

button#mutebtn:hover {
    opacity: 1;
}

button#fullscreenbtn {
    background: #000;
    color: #faad00;
    border: none;
    width: 37px;
    height: 30px;
    cursor: pointer;
    float: right;
    opacity: 0.3;
}

button#fullscreenbtn:hover {
    opacity: 1;
}

input#stream_app {
    background: #000;
    color: #faad00;
    text-align: center;
    border: dotted;
    width: 130px;
    float: left;
}

button#form_button {
    background: #333333;
    color: #faad00;
    border: dotted;
    border-color: #000;
    cursor: pointer;
    width: 70px;
    float: right;
    opacity: 0.3;
}
button#form_button:hover {
    opacity: 1;
}

button#newbtn {
    background: #333333;
    color: #faad00;
    border: dotted;
    border-color: #000;
    cursor: pointer;
    float: right;
    width: 180px;
    opacity: 0.3;
}
button#newbtn:hover {
    opacity: 1;
}

input#seekSlider {
    width: 50%;
}

input#volumeSlider {
    width: 15%;
}

input[type='range'] {
    -webkit-appearance: none !important;
    background: #000;
    border: #666 3px solid;
    margin-right: 10px;
    height: 4px;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background: #faad00;
    height: 15px;
    width: 15px;
    vertical-align: middle;
    border-radius: 100%;
    cursor: pointer;
}

.streamBtns {
    background: #333333;
    color: #faad00;
    width: 60px;
    height: 30px;
    float: left;
}